body{
    font-family: 'Open Sans' !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dwLogo{
    width: 200px;
    margin-bottom: 30px;
}

.dwTitle{
    font-weight: 900;
}

.footer{
    background-color: #1D72C2;
    width: 100%;
    margin: 0;
    padding: 35px;
    text-align: right;

    a{
        color: white;
        text-decoration: none;
    }
}

.navbar{
    background-color: #1D72C2;
    width: 100%;
    margin: 0;
    padding: 0 30px;
    position: fixed;
    z-index: 900;

   
    .mb-3{
        margin-bottom: 0 !important;
    }

    .navbar-brand{
        color: white;
        font-weight: 800;
        padding: 19px 50px;
    }

    .nav-link{
        border-radius: 0%;
        color: white;
        background-color: transparent;
        padding: 20px 30px;
    }

    .nav-link.active{
        color: white;
        background-color: transparent;
        border-bottom: white 3px solid;
    }

    

}

.btn{
    background-color: white;
    border: #1D72C2 solid 1px;
    color: #1D72C2;
}

.login-container{
    padding-top: 13%;
    padding-bottom: 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input, .login-form button{
    width: 60%;
}

.login-form input{
    margin-bottom: 20px;
}


.tab-content{
    padding: 100px 50px 0 50px;
    min-height: 90vh;

    .secTitle{
        font-weight: bold;
        font-size: 30px;  
        padding-bottom: 20px;      
    }

    .search{
        width: 50%;

        input{
            margin-right: 20px;
        }

        button{
            height: 100%;
        }
    }


    .channels-table{
        background-color: #c4e0fa;
        padding: 3px 10px;
        margin: 3px;
        font-size: 10px;
        font-weight: 500;
        color: #0683F9;
        border-radius: 0 !important;
    }

    

    tr{
        height: 75px;
        font-size: 13px;
        font-family: 'Open Sans';
        font-weight: 600;
        border: transparent;
    }

    td{
        padding: 10px;
        border: transparent;
        }

    }


    .selected{
        background-color: #E6F2FE;

        td{
            background-color: transparent !important;
        }
    }

    tr:hover{
        background-color: #E6F2FE;

        td{
            background-color: transparent !important;
        }
    }



    .acciones-table{
        .overlay_actions{
            display: flex;

            .btn{
                margin: 5px;
            }
        }
    }



.table-company-container, .table-user-container{
    .fixed-table-toolbar{
        padding-bottom: 45px;
    }
}

.acciones-table{
    .ellipsis_actions{
        display: none;
    }
}



.fixed-table-pagination{
    padding-top: 40px;
    padding-bottom: 40px;
}

.treeview{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.treeview label{
    font-family: 'Open Sans' !important;
}

.treeview label input{
    display: none;
}

.ellipsis_tree{
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.btn-wrpr{
    left: 0 !important;
}

.node-minus{
    display: none;
}

.treeview>li>label{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

.treeview>li>ul>li>ul{
    padding-left: 20px;
}

.treeview>li>ul>li>ul>li{
    font-style: italic;
}