body{
    font-family: 'Open Sans' !important;
}

.navbar{
    background-color: #1D72C2;
    width: 100%;
    margin: 0;
    padding: 0 30px;
    position: fixed;
    z-index: 900;

   
    .mb-3{
        margin-bottom: 0 !important;
    }

    .navbar-brand{
        color: white;
        font-weight: 800;
        padding: 19px 50px;
    }

    .nav-link{
        border-radius: 0%;
        color: white;
        background-color: transparent;
        padding: 20px 30px;
    }

    .nav-link.active{
        color: white;
        background-color: transparent;
        border-bottom: white 3px solid;
    }

    

}

.btn{
    background-color: white;
    border: #1D72C2 solid 1px;
    color: #1D72C2;
}

.login-container{
    padding-top: 13%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input, .login-form button{
    width: 60%;
}

.login-form input{
    margin-bottom: 20px;
}


.tab-content{
    padding: 100px 50px 0 50px;

    .secTitle{
        font-weight: bold;
        font-size: 30px;  
        padding-bottom: 20px;      
    }

    tr{
        height: 75px;
        font-size: 13px;
        font-family: 'Open Sans';
    }

    td{
        padding: 10px;

        .btn{
            margin: 4px !important;
        }

    }

    .acciones-table{
        .overlay_actions{
            display: flex;
        }
    }

}

.table-company-container{
    .fixed-table-toolbar{
        padding-bottom: 45px;
    }
}




.fixed-table-pagination{
    padding-top: 40px;
    padding-bottom: 40px;
}